<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwoRatChat.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TwoRatChat.Launcher.Properties.Settings>
            <setting name="DropboxRoot" serializeAs="String">
                <value>x:\Sources\Sc2tvChatPub\TwoRatChatHome\Release\Update</value>
            </setting>
            <setting name="DropboxUrlRoot" serializeAs="String">
                <value>http://tworatchat.com/release/</value>
            </setting>
            <setting name="RunApplication" serializeAs="String">
                <value>TwoRatChat.Main.exe</value>
            </setting>
        </TwoRatChat.Launcher.Properties.Settings>
    </userSettings>
</configuration>