<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwoRatChat.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TwoRatChat.Main.Properties.Settings>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Window_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window_Width" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Window_Height" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Window_OverlayMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Window_TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Window_ShowHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Window_DisableFullDrag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="url_Goodgame" serializeAs="String">
                <value>ws://chat.goodgame.ru:8081/chat/websocket|ws://goodgame.ru:8081/chat/websocket</value>
            </setting>
            <setting name="Chat_LoadHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChatSave" serializeAs="String">
                <value />
            </setting>
            <setting name="Window_AccentColor" serializeAs="String">
                <value>4283925199</value>
            </setting>
            <setting name="Window_Border" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Window_BackgroundColor" serializeAs="String">
                <value>570425344</value>
            </setting>
            <setting name="url_Twitch" serializeAs="String">
                <value>irc.twitch.tv:6667</value>
            </setting>
            <setting name="Chat_RootSkin" serializeAs="String">
                <value>/default.html</value>
            </setting>
            <setting name="Chat_ImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="url_Cybergame" serializeAs="String">
                <value>ws://cybergame.tv:9090/websocket</value>
            </setting>
            <setting name="Window_MouseTransparent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sc2tv_lastCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="url_Sc2tv" serializeAs="String">
                <value>http://chat.sc2tv.ru/memfs/channel-{0}.json</value>
            </setting>
            <setting name="url_Empire" serializeAs="String">
                <value>http://www.empiretv.org/sites/default/files/fastchat/chat{0}.json?{1}</value>
            </setting>
            <setting name="url_GohaTV" serializeAs="String">
                <value>i.gohanet.ru:6667</value>
            </setting>
            <setting name="url_midlane" serializeAs="String">
                <value>midlane.ru:7070</value>
            </setting>
            <setting name="url_GamersTV" serializeAs="String">
                <value>http://gamerstv.ru/modules/ajax/chat_cache/room_{0}.js</value>
            </setting>
            <setting name="HTTP_ListenUri" serializeAs="String">
                <value>http://localhost:2222/</value>
            </setting>
            <setting name="HTTP_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Chat_Blacklist" serializeAs="String">
                <value>3•obmorok•</value>
            </setting>
            <setting name="GG_AllowAnimatedSmiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GG_AllowChannelSmiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableGlobalHoyKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalVolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="twitch_ShowSubsIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="twitch_AllowUseColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hitbox_AllowUserColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bot_GGLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="bot_GGPass" serializeAs="String">
                <value />
            </setting>
            <setting name="bot_TwitchLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="bot_TwitchPass" serializeAs="String">
                <value />
            </setting>
            <setting name="newFollowerShowInChat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gg_HeaderMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="twitch_Followers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="promouteMessage" serializeAs="String">
                <value>{0} получил новый уровень. Теперь он {1}.</value>
            </setting>
            <setting name="allowLeveling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soundOnMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="youtube_ShowIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="voice_FirstMeet" serializeAs="String">
                <value>{0} готов к геноциду!</value>
            </setting>
            <setting name="voice_Promoute" serializeAs="String">
                <value>{0} получил новый уровень. Теперь он {1}.</value>
            </setting>
            <setting name="voice_Followers" serializeAs="String">
                <value>{0} при соединился к команде крысоидов!</value>
            </setting>
            <setting name="voice_Personals" serializeAs="String">
                <value />
            </setting>
            <setting name="url_StreamCube" serializeAs="String">
                <value>http://streamcube.tv/{0}</value>
            </setting>
            <setting name="showUrlsAsImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxImageWidth" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="maxImageHeight" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="showImageMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imageWhiteList" serializeAs="String">
                <value />
            </setting>
            <setting name="imageBlackList" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="peka2tv_chatUrl" serializeAs="String">
                <value>wss://chat.funstream.tv</value>
            </setting>
            <setting name="voice_voiceId" serializeAs="String">
                <value>IVONA 2 Tatyana</value>
            </setting>
            <setting name="youTubeAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="voice_ask" serializeAs="String">
                <value>{0} спрашивает: '{1}'</value>
            </setting>
            <setting name="voice_talk" serializeAs="String">
                <value>{0} говорит: '{1}'</value>
            </setting>
            <setting name="voice_caps" serializeAs="String">
                <value>{0} восклицает: '{1}'</value>
            </setting>
        </TwoRatChat.Main.Properties.Settings>
    </userSettings>
</configuration>